<style>
  .form.group1
  {margin: 20%}

  form {
    text-align: center;
  }
</style>


<form  class = "form-signin" #loginform="ngForm" (ngSubmit)="login(loginform)">
  <div class="container-fluid">
    <h2 class="form-signing-heading">Ввод промокода</h2>
    <div *ngIf="invalidLogin" class="alert alert-danger">Некорректный промокод!</div>
    <br>
    <label for="Promocode" class="sr-only">Promocode</label>
    <input type="text" id="Promocode" name="Promocode" ngModel class="form-control" placeholder="Введите промокод..."
    required autofocus>
    <br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
  </div>
</form>
<!--
form class="form-register" #loginForm (ngSubmit)="codeGen(loginform)">
<div class="container-fluid">
  <span>Ещё нет промокода?</span>
  <a class="btn btn-lg btn-primary" type="submit">Получить промокод!</a>
</div>
-->
